@use '../mixins/responsive.scss' as *;

html {
  scroll-behavior: smooth;
}
body {
  background-color: white;
  color: rgb(56, 56, 56);
  font-family: sans-serif;
  background-image: url(../../assets/images/abstract-wallpaper1movile.jpg);
  background-repeat: no-repeat;
  background-size: 370px;

  @include responsive(laptop) {
    background-image: url(../../assets/images/abstract-wallpaper3.jpg);
    background-size: 100%;
  }
}
