html {
  scroll-behavior: smooth;
}
body {
  background-color: white;
  font-family: sans-serif;
  background-image: url(../../assets/images/abstract-wallpaper1movile.jpg);
  background-repeat: no-repeat;
  background-size: 370px;
}
