.branding__section{
    display: flex;
    height: 100%;
    padding-bottom: 30px;
}

.graphic__brandingcontent{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
.mockup__santos{
    border-radius: 10px;
    box-shadow: 0 0 5px 2px #ffffff0f;
}
