@use '../mixins/responsive.scss' as *;
.header {
  margin: 24px;
  font-size: 0.875rem;
  font-family: 'Crimson', sans-serif;
  color: rgb(56, 56, 56);

  @include responsive(laptop) {
    margin: 28px;
    font-size: 1rem;
  }
}
.header_box {
  @include responsive(laptop) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.information {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 3px;

  @include responsive(laptop) {
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }
}
.info__header {
  @include responsive(laptop) {
    margin: 0;
  }
}

.name {
  margin-top: 0;
  display: flex;
  justify-content: flex-end;

  @include responsive(laptop) {
    display: flex;
    align-items: flex-end;
    margin: 0;
  }
}
.button__container {
  display: flex;
  justify-content: flex-end;
}
.gmail {
margin: 0;
@include responsive(laptop) {
  display: flex;
  align-items: flex-end;
  margin: 0;
}
}
