
.room__card{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
    width: 315px;
    height: 400px;
    background: radial-gradient(circle, rgba(255,255,255,0.6927899686520376) 56%, rgba(243,230,255,1) 100%);
    box-shadow: 0 8px 8px 2px #00000017;
    border-radius: 20px;
    margin-bottom: 20px;
}
.room{
    width: 270px;
    height: 270px;
}
.first_room {
    width: 250px;
    height: 250px;
}
.cardroomsubtitle__box {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
    margin-top: 0;
    margin-bottom: 10px;
}
.cardroom__subtitle {
    color: rgb(111, 61, 157);
    margin: 0;
    font-family: 'Hind Guntur', sans-serif;
    font-weight: 600;

}

